@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { 
  margin:0; padding:0; 
} 
ol, ul, li {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
address, caption, cite, code, dfn, em, strong, th, var, optgroup { 
  font-style: normal; 
  font-weight: normal;
}
fieldset, img { 
  border:0;
}
textarea { 
  resize: none;
}

[v-cloak] {
  display: none
}

body::-webkit-scrollbar {
  display: none
}
 
/* custom */
a {
  color: #7e8c8d;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
html, body {
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", "微软雅黑", sans-serif;
}
body {
  height: 100%; 
  width: 100%;
  line-height: 1;
  font-size: 12px;
  overflow: hidden;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  overflow-y: scroll;
}
 
/*清除浮动*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: inline-block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
 
/*隐藏*/
.dn{
  display: none;
}





@media (min-width:1024px) {
	body { font-size: 18px; }
}

@media (min-width:1100px) {
	body { font-size: 20px; }
}

@media (min-width:1280px) {
	body { font-size: 22px; }
}

@media (min-width:1366px) {
	body { font-size: 24px; }
}

@media (min-width:1440px) {
	body { font-size: 25px; }
}

@media (min-width:1680px) {
	body { font-size: 28px; }
}

@media (min-width:1920px){
	body { font-size: 33px; }
}